- title "New Testcase Attachment"

= simple_form_for @testcase_attachment, :html => { :multipart => true } do |f|
  %fieldset.span-24.last
  %legend Attachment
  %fieldset.span-22.last
    = f.input :attachment
    = f.button :submit, 'Save'
    = link_to "Cancel", @testcase, :class => 'button', :id => 'cancel'

