.pagination {
    background: white; /* self-clearing method: */
}

.pagination a, .pagination span, .pagination em {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.pagination span.disabled {
    color: #999;
    border: 1px solid #DDD;
}

.pagination em {
    font-weight: bold;
    background: #2E6AB1;
    color: white;
    border: 1px solid #2E6AB1;
}

.pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5;
}

.pagination a:hover, .pagination a:focus {
    color: #003;
    border-color: #003;
}

.pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center;
}

.pagination .page_info b {
    color: #003;
    background: #6aa6ed;
    padding: .1em .25em;
}

.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .pagination {
    height: 1%;
}

*:first-child+html .pagination {
    overflow: hidden;
}

.field_with_errors label {
    color: red;
}

input[type='email'] {
    border-style: solid;
    border-width: 1px;
}

.field_with_errors input,
.field_with_errors textarea {
    border-color: red;
}

div.mainmenu {
    background-color: #E5ECF9;
    margin-bottom: 1em;
    height: 2em;
    line-height: 2em;
}
div.mainmenu ul {
    display: inline;
    list-style: none;    
}

div.mainmenu ul li {
    float: left;
    padding-right: 1em;
}

/* stylesheets/application.css */
.simple_form label {
    float: left;
    width: 100px;
    text-align: left;
    margin: 2px 10px;
}

.simple_form div.input {
    margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
    float: none;
    margin: 0;
}

.simple_form label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
}

.simple_form .error {
    border-style: none;
    border-width: 0px;
    background-color: transparent;
    clear: left;
    margin: 0px 0px 0px 120px;
    padding: 0px;
    font-size: 12px;
    color: #D00;
    display: block;
}

.field-with-errors input {
    border-color: red;
}

.simple_form .hint {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
}

div.label {
    font-weight: bold;
}

div.fieldset {
    padding: 1em;
}

div.login {
    background-color: #C3D9FF;
    height: 3em;
    line-height: 3em;
}

.link_list {
    list-style: none;
}

.link_list li {
    float: left;
    margin-right: 0.5em;
}
