- content_for :head do
  :css
    form.simple_form_user textarea, input[type="text"], input[type="email"], input[type="password"], select {
      padding: 4px;
      width: 570px;
    }

- title t('users.new.title')
= render :partial => "form"

