<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <legend>Project</legend>
      <div class="fieldset">
        <%= f.input :name %>
        <%= f.button :submit %>
      </div>
  </fieldset>
<% end %>