- title t('projects.activatable_projects.activate_project')
%table
  %thead
    %tr
      %th= t('projects.activatable_projects.project')
      %th= t('projects.activatable_projects.action')
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= link_to t('projects.activatable_projects.activate'), activate_project_url(project)

