<h1>Test Run</h1>

<% content_for :head do %>
    <style type="text/css">
      .label {
          font-weight: bold;
      }
    </style>
<% end %>
<fieldset class="span-24 last">
  <legend >Testrun</legend>
    <div class="fieldset span-22 last" style="padding: 1em;" >
      <div class="row span-22 last">
        <div class="label span-4">Key</div>
        <div class="span-7"><%= @testrun.testsuite.key %></div>
        <div class="label span-4">Name</div>
        <div class="span-7 last"><%= @testrun.testsuite.name %></div>
      </div>
      <div class="row span-24 last">
        <div class="label span-4">Description</div>
        <div class="span-20 last"><%= render_textile(@testrun.testsuite.description) %></div>
      </div>
    </div>
</fieldset>