<% @testsuite_entries.each do |entry| %>
  <%= content_tag :li, :id => "entryid_e#{entry.to_param}" do %>
    <div class="handle span-1">[drag]</div>
    <%= "#{entry.testcase.key}.#{entry.testcase.version}"  %>
    <%= entry.testcase.name %>
    <a href="#" class= "delete right" id = "<%=  entry.id %>" style="margin-right: 1em;">Delete</a>
  <% end %>
<% end %>