$('#testentries').html("#{escape_javascript(render(:partial => "testsuite_entries"))}");
$('.delete').click(function() {
    $("#message").hide();
    $.post("#{remove_testcase_testsuite_url(@testsuite)%>}", "entryid=" + $(this).attr('id') );
    $(this).parent('li').remove();
    return false;
});
- unless @notice.blank?
  $('#message').html("#{escape_javascript(@notice)}").removeAttr("style").show();

