/*
*= require_self
*= require_tree ./markitup
*= require_tree ./smoothness
*= require ./blueprint/screen
*= require ./jquery_tag
*= require ./testcases
*= require ./simpleform
*= require ./pagination
*= require ./project_statistic
*/

.body-container {
    min-height: 200px;
}

div.mainmenu {
    background-color: #E5ECF9;
    margin-bottom: 1em;
    height: 2em;
    line-height: 2em;
}
div.mainmenu ul {
    display: inline;
    list-style: none;
}

div.mainmenu ul li {
    float: left;
    padding-right: 1em;
}

div.login {
    background-color: #C3D9FF;
    height: 3em;
    line-height: 3em;
}

.link_list {
    list-style: none;
}

.link_list li {
    float: left;
    margin-right: 0.5em;
}

