<h1>Login</h1>
<% content_for :head do %>
  <style type="text/css">
    form.simple_form input[type="text"], input[type="password"] {
      padding: 4px;
      width: 570px;
    }
  </style>
<% end %>


<%= render :partial => 'user_sessions/form' %>
