<fieldset class="span-24 last">
  <legend>Test step</legend>
  <div class="fieldset">
      <%= simple_form_for [@testcase, @teststep] do |f| %>
        <%= f.input :step %>
        <%= f.input :expected_result %>
        <%= f.button :submit %>
      <% end %>
  </div>
</fieldset>